<extend name="Public/base" />
<block name="header">
<link rel="stylesheet" type="text/css" href="__CSS__/member.css" media="all">
<div class="wrapper mt10 curr-nav">
    <i class="iconfont">&#xe849;</i> <a href="{:C('WEB_PATH')}">首页</a> &gt; <a href="{:U('User/index')}">用户中心</a>
</div>
<div class="wrapper mt10">

<div class="wrapper member-center mt10 mb10">
<include file="Public/memberleft"/>
</block>
<block name="body">
<div class="center">
	用户首页
</div>
<div class="right">				

</div>
<div class="cb"></div>
</div>
<div class="cb"></div>
</div>
</block>
