<extend name="Public/base"/>
<block name="body">
<div class="page">
  <div class="fixed-bar">
    <div class="item-title"><a class="back" href='{:U("MemberModule/lists")}' title="返回会员模型列表"><i class="fa fa-arrow-circle-o-left"></i></a>
      <div class="subject">
        <h3>会员模型 - 新增/更新</h3>
        <h5>会员模型管理</h5>
      </div>
    </div>
  </div>
  <form id="member_module_form" method="post">
    <div class="ncap-form-default">
      <dl class="row">
        <dt class="tit">
          <label for="field"><em>*</em>模型名称</label>
        </dt>
        <dd class="opt">
          <input type="text" value="{$info.name}" name="name" id="name" class="input-txt valid">
          <span class="err"></span>
          <p class="notic"></p>
        </dd>
      </dl>
	  <dl class="row">
        <dt class="tit">邮箱认证</dt>
        <dd class="opt">
          <div class="onoff">
            <label for="email_auth1" <if condition="$info.email_auth eq 1 ">class="cb-enable selected"<else/>class="cb-enable "</if>>开启</label>
            <label for="email_auth0" <if condition="$info.email_auth eq 0 ">class="cb-disable  selected"<else/>class="cb-disable "</if>>关闭</label>
            <input id="email_auth1" name="email_auth" <if condition="$info.email_auth eq 1 ">checked="checked"</if> value="1" type="radio">
            <input id="email_auth0" name="email_auth" <if condition="$info.email_auth eq 0 ">checked="checked"</if> value="0" type="radio">
          </div>
          <p class="notic"></p>
        </dd>
      </dl>
	  <dl class="row">
        <dt class="tit">手机认证</dt>
        <dd class="opt">
          <div class="onoff">
            <label for="mobile_auth1" <if condition="$info.mobile_auth eq 1 ">class="cb-enable selected"<else/>class="cb-enable "</if>>开启</label>
            <label for="mobile_auth0" <if condition="$info.mobile_auth eq 0 ">class="cb-disable  selected"<else/>class="cb-disable "</if>>关闭</label>
            <input id="mobile_auth1" name="mobile_auth" <if condition="$info.mobile_auth eq 1 ">checked="checked"</if> value="1" type="radio">
            <input id="mobile_auth0" name="mobile_auth" <if condition="$info.mobile_auth eq 0 ">checked="checked"</if> value="0" type="radio">
          </div>
          <p class="notic"></p>
        </dd>
      </dl>
	  <dl class="row">
        <dt class="tit">人工认证</dt>
        <dd class="opt">
          <div class="onoff">
            <label for="user_auth1" <if condition="$info.user_auth eq 1 ">class="cb-enable selected"<else/>class="cb-enable "</if>>开启</label>
            <label for="user_auth0" <if condition="$info.user_auth eq 0 ">class="cb-disable  selected"<else/>class="cb-disable "</if>>关闭</label>
            <input id="user_auth1" name="user_auth" <if condition="$info.user_auth eq 1 ">checked="checked"</if> value="1" type="radio">
            <input id="user_auth0" name="user_auth" <if condition="$info.user_auth eq 0 ">checked="checked"</if> value="0" type="radio">
          </div>
          <p class="notic"></p>
        </dd>
      </dl>
	  <dl class="row">
        <dt class="tit">是否启用</dt>
        <dd class="opt">
          <div class="onoff">
            <label for="status1" <if condition="$info.status eq 1 ">class="cb-enable selected"<else/>class="cb-enable "</if>>启用</label>
            <label for="status0" <if condition="$info.status eq 0 ">class="cb-disable  selected"<else/>class="cb-disable "</if>>禁用</label>
            <input id="status1" name="status" <if condition="$info.status eq 1 ">checked="checked"</if> value="1" type="radio">
            <input id="status0" name="status" <if condition="$info.status eq 0 ">checked="checked"</if> value="0" type="radio">
          </div>
          <p class="notic"></p>
        </dd>
      </dl>
      <div class="bot">
	  <input type="hidden" name="id" value="{$info.id|default=''}">
	  <a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a>
	  </div>
    </div>
  </form>
</div>
</block>
<block name="script">
<script type="text/javascript" src="__STATIC__/js/jquery.nyroModal.js"></script> 
<script type="text/javascript">

//按钮先执行验证再提交表单    
$("#submitBtn").click(function(){
	if($("#member_module_form").valid()){
		$("#member_module_form").submit();
	}
});

$(function(){
	// 模拟网站LOGO上传input type='file'样式
	// 点击查看图片
	//表单验证	
	$('#member_module_form').validate({
        errorPlacement: function(error, element){
			var error_td = element.parent('dd').children('span.err');
            error_td.append(error);
        },
        rules : {
			name : {
                required : true
            }
        },
        messages : {
			name : {
                required : '<i class="fa fa-exclamation-circle"></i>模型名称不能为空',
            }
        }
    });
});
</script>
</block>