@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}
table{border-collapse:collapse;border-spacing:0;}

/* selcity */
.selcity{padding:2px 0 4px 0;z-index:10;background:#E9E9E9;position:relative;left:780px;top:35px; width:200px}
.selcity .none{left:45%;bottom:-18px;position:absolute}
.selcity .none a{width:68px;text-indent:-3000px;height:21px;text-decoration:none}
.selcity .none a:hover{text-indent:-3000px;height:21px;text-decoration:none}
.selcity table{margin:0px auto;width:200px;border-collapse:collapse}
.selcity table td{font-size:10px;vertical-align:middle;width:157px;color:#fff;height:39px;text-align:center}
.selcity table td a{display:block;line-height:40px;height:40px;text-decoration:none}
.selcity table td a:hover{text-decoration:none;color: #333;}
.selcity table td a.cur{}