<extend name="Public/base" />
<block name="header">
<link href="__CSS__/wlpt.css" rel="stylesheet" media="screen" type="text/css" />
</block>
<block name="body">

					<div class="graphy_list_c">
                        <div class="graphy_list_m">
                            <div class="title">
                            网站建设
							</div>
							<div class="row">
							<article catid="43" num='4' order="id ASC"  subcat='1' return="data">
		                   <volist name="data" id="vo">
								<div class="col-sm-3 col-md-3">
									 <a class="thumbnail" href="{:U("Article/show/id/$vo[id]")}"><img src="{:C('ARTICLE_UPLOAD.rootPath')}{$vo.thumb}"><div class="graphy_list_c_t"><div class="pull-left">{$vo.title}</div><div class="pull-right">点击量：<font color="#FF0000">{$vo.click}</font></div></div></a>
								</div>
								</volist>
		                      </article>
                               
                            
							</div>
                        </div>
                    </div>
					<div class="clear"></div>
					<div class="graphy_list_c">
                        <div class="graphy_list_m">
                            <div class="title">
                            网站优化
							</div>
								<div class="row">
							<article catid="44" num='4' order="id ASC"  subcat='1' return="data">
		                   <volist name="data" id="vo">
								<div class="col-sm-3 col-md-3">
									 <a class="thumbnail" href="{:U("Article/show/id/$vo[id]")}"><img src="{:C('ARTICLE_UPLOAD.rootPath')}{$vo.thumb}"><div class="graphy_list_c_t"><div class="pull-left">{$vo.title}</div><div class="pull-right">点击量：<font color="#FF0000">{$vo.click}</font></div></div></a>
								</div>
								</volist>
		                      </article>
                               
                            
							</div>
                        </div>
                    </div>
					<div class="clear"></div>
					<div class="graphy_list_c">
                        <div class="graphy_list_m">
                            <div class="title">
                            网络推广
							</div>
								<div class="row">
							<article catid="45" num='4' order="id ASC"  subcat='1' return="data">
		                   <volist name="data" id="vo">
								<div class="col-sm-3 col-md-3">
									 <a class="thumbnail" href="{:U("Article/show/id/$vo[id]")}"><img src="{:C('ARTICLE_UPLOAD.rootPath')}{$vo.thumb}"><div class="graphy_list_c_t"><div class="pull-left">{$vo.title}</div><div class="pull-right">点击量：<font color="#FF0000">{$vo.click}</font></div></div></a>
								</div>
								</volist>
		                      </article>
                               
                            
							</div>
                        </div>
                    </div>
					<div class="clear"></div>
					<div class="graphy_list_c">
                        <div class="graphy_list_m">
                            <div class="title">
                            网络营销
							</div>
								<div class="row">
							<article catid="46" num='4' order="id ASC"  subcat='1' return="data">
		                   <volist name="data" id="vo">
								<div class="col-sm-3 col-md-3">
									 <a class="thumbnail" href="{:U("Article/show/id/$vo[id]")}"><img src="{:C('ARTICLE_UPLOAD.rootPath')}{$vo.thumb}"><div class="graphy_list_c_t"><div class="pull-left">{$vo.title}</div><div class="pull-right">点击量：<font color="#FF0000">{$vo.click}</font></div></div></a>
								</div>
								</volist>
		                      </article>
                               
                            
							</div>
                        </div>
                    </div>
					<div class="clear"></div>
					<div class="graphy_list_c">
                        <div class="graphy_list_m">
                            <div class="title">
                            微网在线
							</div>
								<div class="row">
							<article catid="47" num='4' order="id ASC"  subcat='1' return="data">
		                   <volist name="data" id="vo">
								<div class="col-sm-3 col-md-3">
									 <a class="thumbnail" href="{:U("Article/show/id/$vo[id]")}"><img src="{:C('ARTICLE_UPLOAD.rootPath')}{$vo.thumb}"><div class="graphy_list_c_t"><div class="pull-left">{$vo.title}</div><div class="pull-right">点击量：<font color="#FF0000">{$vo.click}</font></div></div></a>
								</div>
								</volist>
		                      </article>
                               
                            
							</div>
                        </div>
                    </div>
					<div class="clear"></div>
					



</block>