<extend name="Public/base" />
<block name="header">
<link href="__CSS__/spgg.css" rel="stylesheet" media="screen" type="text/css" />
</block>
<block name="body">
<div class=" clr mt3">
<div class="zpgg"><a href="#">{:Advs(95);}</a></div>
    <div class="part2_l">
            <!-- /新闻资讯 -->
        <div class="part_top  clr"><a href="#" class="i_more">更多&gt;&gt;</a>热门资讯</div>
        <div class="index_news  clr mt2">
            <div class="index_news_l">
				<div style="visibility: visible; width: 390px; height: 245px; overflow: hidden; position: relative;" id="KinSlideshow">
					<article catid="2" num='1' where="thumb!=''" order="click desc" subcat='1' return="data">
					<volist name="data" id="vo">
                    <div id="KSS_moveBox" style="width: 390px; height: 245px; overflow: hidden; position: relative;">
						<div id="KSS_content">
							<a href='{:U("Article/show/id/$vo[id]")}'>
								<img width="390" border="0" height="245" alt="华尚DSP全新改版" src="{:C('ARTICLE_UPLOAD.rootPath')}{$vo.thumb}" style="border: 0px none;">
							</a>
						</div>
					</div>

					<div class="KSS_titleBar" style="height: 40px; width: 100%; position: absolute; bottom: 0px; left: 0px; background: rgb(0, 0, 0) none repeat scroll 0% 0%; opacity: 0.5;">
					</div>
					<div class="KSS_titleBox" style="height: 40px; width: 100%; position: absolute; bottom: 0px; left: 0px;">
						<h2 style="margin: 3px 0px 0px 6px; padding: 0px; font-size: 14px; color: rgb(255, 255, 255); font-family: Verdana; font-weight: bold;" class="title">{$vo.title}</h2>
					</div>
					</volist>
					</article>
				</div>
            </div>
            <div class="index_news_r">
                <div class="index_news_list">
					<ul>
						<article catid="2" num='7' order="click desc" subcat='1' return="data">
						<volist name="data" id="vo">
                        <li>
							<span>[{$vo.updatetime|date="Y-m-d",###}]</span>
							<a href='{:U("Article/show/id/$vo[id]")}'>{$vo.title}</a>
						</li>
						</volist>
						</article>
						

                    </ul>
			    </div>
            </div>
        </div>
            <!-- /新闻资讯 -->
            <!-- /客户案例 -->
        <div class="part_top  clr mt2"><a href="#" class="i_more">更多&gt;&gt;</a>LED大屏</div>
        <div class="case_list  clr mt2">
			<ul>
				<article catid="19" num='3' order="click desc" where="thumb!=''">
				<volist name="data" id="vo">
                <li>
					<a href='{:U("Article/show/id/$vo[id]")}'>
						<img width="264" border="0" height="175" alt="{$vo.title}" src="{:C('ARTICLE_UPLOAD.rootPath')}{$vo.thumb}">
						<div class="i_case_name">{$vo.title}</div>
					</a>
				</li>
				</volist>
				</article>
				

            </ul>
		</div>
            <!-- /客户案例 -->
			<!-- /客户案例 -->
        <div class="part_top  clr mt2"><a href="/case/" class="i_more">更多&gt;&gt;</a>公交视频</div>
        <div class="case_list  clr mt2">
			<ul>
				<article catid="20" num='3' order="click desc" where="thumb!=''">
				<volist name="data" id="vo">
                <li>
					<a href='{:U("Article/show/id/$vo[id]")}'>
						<img width="264" border="0" height="175" alt="{$vo.title}" src="{:C('ARTICLE_UPLOAD.rootPath')}{$vo.thumb}">
						<div class="i_case_name">{$vo.title}</div>
					</a>
				</li>
				</volist>
				</article>				
            </ul>
		</div>
        <!-- /客户案例 -->
			<!-- /客户案例 -->
        <div class="part_top  clr mt2"><a href="/case/" class="i_more">更多&gt;&gt;</a>城际视频</div>
        <div class="case_list  clr mt2">
			<ul>
				<article catid="21" num='3' order="click desc" where="thumb!=''">
				<volist name="data" id="vo">
                <li>
					<a href='{:U("Article/show/id/$vo[id]")}'>
						<img width="264" border="0" height="175" alt="{$vo.title}" src="{:C('ARTICLE_UPLOAD.rootPath')}{$vo.thumb}">
						<div class="i_case_name">{$vo.title}</div>
					</a>
				</li>
				</volist>
				</article>				
            </ul>
		</div>
        <!-- /客户案例 -->
			<!-- /客户案例 -->
        <div class="part_top  clr mt2"><a href="/case/" class="i_more">更多&gt;&gt;</a>荧幕广告</div>
        <div class="case_list  clr mt2">
			<ul>
				<article catid="22" num='3' order="click desc" where="thumb!=''">
				<volist name="data" id="vo">
                <li>
					<a href='{:U("Article/show/id/$vo[id]")}'>
						<img width="264" border="0" height="175" alt="{$vo.title}" src="{:C('ARTICLE_UPLOAD.rootPath')}{$vo.thumb}">
						<div class="i_case_name">{$vo.title}</div>
					</a>
				</li>
				</volist>
				</article>				
            </ul>
		</div>
        <!-- /客户案例 -->
			<!-- /客户案例 -->
        <div class="part_top  clr mt2"><a href="/case/" class="i_more">更多&gt;&gt;</a>的士屏幕</div>
        <div class="case_list  clr mt2">
			<ul>
				<article catid="23" num='3' order="click desc" where="thumb!=''">
				<volist name="data" id="vo">
                <li>
					<a href='{:U("Article/show/id/$vo[id]")}'>
						<img width="264" border="0" height="175" alt="{$vo.title}" src="{:C('ARTICLE_UPLOAD.rootPath')}{$vo.thumb}">
						<div class="i_case_name">{$vo.title}</div>
					</a>
				</li>
				</volist>
				</article>				
            </ul>
		</div>
        <!-- /客户案例 -->
			<!-- /客户案例 -->
        <div class="part_top  clr mt2"><a href="/case/" class="i_more">更多&gt;&gt;</a>楼宇电视</div>
        <div class="case_list  clr mt2">
			<ul>
				<article catid="24" num='3' order="click desc" where="thumb!=''">
				<volist name="data" id="vo">
                <li>
					<a href='{:U("Article/show/id/$vo[id]")}'>
						<img width="264" border="0" height="175" alt="{$vo.title}" src="{:C('ARTICLE_UPLOAD.rootPath')}{$vo.thumb}">
						<div class="i_case_name">{$vo.title}</div>
					</a>
				</li>
				</volist>
				</article>				
            </ul>
		</div>
        <!-- /客户案例 -->
			<!-- /客户案例 -->
        <div class="part_top  clr mt2"><a href="/case/" class="i_more">更多&gt;&gt;</a>社区视频</div>
        <div class="case_list  clr mt2">
			<ul>
				<article catid="25" num='3' order="click desc" where="thumb!=''">
				<volist name="data" id="vo">
                <li>
					<a href='{:U("Article/show/id/$vo[id]")}'>
						<img width="264" border="0" height="175" alt="{$vo.title}" src="{:C('ARTICLE_UPLOAD.rootPath')}{$vo.thumb}">
						<div class="i_case_name">{$vo.title}</div>
					</a>
				</li>
				</volist>
				</article>				
            </ul>
		</div>
        <!-- /客户案例 -->
			<!-- /客户案例 -->
        <div class="part_top  clr mt2"><a href="/case/" class="i_more">更多&gt;&gt;</a>视频制作</div>
        <div class="case_list  clr mt2">
			<ul>
				<article catid="26" num='3' order="click desc" where="thumb!=''">
				<volist name="data" id="vo">
                <li>
					<a href='{:U("Article/show/id/$vo[id]")}'>
						<img width="264" border="0" height="175" alt="{$vo.title}" src="{:C('ARTICLE_UPLOAD.rootPath')}{$vo.thumb}">
						<div class="i_case_name">{$vo.title}</div>
					</a>
				</li>
				</volist>
				</article>				
            </ul>
		</div>
        <!-- /客户案例 -->
			<!-- /客户案例 -->
        <div class="part_top  clr mt2"><a href="/case/" class="i_more">更多&gt;&gt;</a>动漫制作</div>
        <div class="case_list  clr mt2">
			<ul>
				<article catid="27" num='3' order="click desc" where="thumb!=''">
				<volist name="data" id="vo">
                <li>
					<a href='{:U("Article/show/id/$vo[id]")}'>
						<img width="264" border="0" height="175" alt="{$vo.title}" src="{:C('ARTICLE_UPLOAD.rootPath')}{$vo.thumb}">
						<div class="i_case_name">{$vo.title}</div>
					</a>
				</li>
				</volist>
				</article>				
            </ul>
		</div>
        <!-- /客户案例 -->
    </div>
    <div class="part2_r">
            <!-- /最新上线 -->
            <div class="part_top"><a href="/case/" class="i_more">更多&gt;&gt;</a>重点推荐</div>
            <div class="new_case  clr mt2"><ul>			
				<article catid="2" num='3' posid="1" subcat='1' order="click desc" where="thumb!=''">
				<volist name="data" id="vo">
                <li><a href='{:U("Article/show/id/$vo[id]")}'><img width="299" border="0" height="199" alt="{$vo.title}" src="{:C('ARTICLE_UPLOAD.rootPath')}{$vo.thumb}"></a>
                <p class="new_case_t"><a href="#">{$vo.title}</a></p>
                <p> {$vo.description}</p>
                </li>
				</volist>
				</article>					
            </ul>
			</div>
			
            <!-- /最新上线 -->
    </div>
	<div class="clear"></div>
</div>

</block>