<extend name="Public/base" />
<block name="header">
<link rel="stylesheet" href="__CSS__/style1.css"/>
	<link rel="stylesheet" href="__CSS__/index1.css"/>
</block>
<block name="body">
<body data-pagename="index" class="mbody960">
	<!-- @NAV --> 
	<!-- app download banner -->
<style type="text/css">
.u-appbanner{ z-index:100; padding:30px 20px; display:none; background:#24794b;}
.u-appbanner.isMobile{ display:block;}
.u-appbanner .logo{ width:305px; height:83px; background:url(http://img0.ph.126.net/xZTep95Rkn6e_GUjRw22Gg==/6608586051446202447.png) 0 0 no-repeat;}
.u-appbanner .close{ margin:30px 0 0 25px; width:28px; height:28px; background:url(http://img0.ph.126.net/xZTep95Rkn6e_GUjRw22Gg==/6608586051446202447.png) 0 -168px no-repeat;}
.u-appbanner .dlbtn{ margin-top:10px; width:178px; height:64px; background:url(http://img0.ph.126.net/xZTep95Rkn6e_GUjRw22Gg==/6608586051446202447.png) 0 -97px no-repeat;}
</style>
<div class="u-appbanner f-pr f-cb" id="j-appbanner">
	<div class="logo f-fl"></div>
    <a class="f-fr close" id="j-appbanner-close"></a>
    <a class="f-fr dlbtn" href="#"></a>
</div>
<script type="text/javascript">
(function(g, doc) {
	var bannerNode = doc.getElementById('j-appbanner');
	var testAndroid = /(android)/ig,
        testAppleIphone = /(iphone)/ig,
        testAppleIpad = /(ipad)/ig;
    var useragent = navigator.userAgent.toLowerCase(); 
    var isMobile = testAndroid.test(useragent) || testAppleIphone.test(useragent) || testAppleIpad.test(useragent);
	doc.getElementById('j-appbanner-close').onclick = function(){
		bannerNode.style.display = 'none';
	}	
	if(isMobile){
		bannerNode.className = 'u-appbanner f-cb isMobile';
	}
})(window, document);
</script>	
<script>document.domain="163.com";</script>
	<script type="text/javascript">
		// 轮播数据
		window.SLIDEDATA = [
			// tab不提供则隐藏
			{'marginleft':0, 'left':15},
			{'marginleft':32, 'left':113},
			{'marginleft':34, 'left':210}
		];
		
	</script>

	<div class="m-cate">
		<div class="g-container">
<div class="g-row">
<div class="g-cell2 f-pr">
<div class="f-pa" style="top:-50px;left:0;height:50px;width:100%;">
						<!--包框广告-->
					</div>
<div class="f-pa" style="top:-50px;left:0;height:50px;width:100%;"></div>
<div class="m-ted shadow" onclick="javascript:window.open('http://open.163.com/ted/','_blank');" title="查看全部">
						<h2>广告课堂<span class="lk" id="j-ted">观看另一种可能性</span></h2>
						<ul class="clear">
							
								<li class="left blok nowrp"><a class="link f-f0 nowrp j-recstop" href="#">信息</a></li>
				<li class="left blok nowrp"><a class="link f-f0 nowrp j-recstop" href="#">美丽</a></li>
				<li class="left blok nowrp"><a class="link f-f0 nowrp j-recstop" href="#">鼓舞</a></li>
				<li class="left blok nowrp"><a class="link f-f0 nowrp j-recstop" href="#">惊讶</a></li>
				<li class="left blok nowrp"><a class="link f-f0 nowrp j-recstop" href="#">勇敢</a></li>
				<li class="left blok nowrp"><a class="link f-f0 nowrp j-recstop" href="#">创意</a></li>
								</ul>
					</div>
					<div class="g-row">
					
					<div class="g-cell1 g-card1">
							<a href="#" class="u-cover" target="_blank">
								<div class="shadow rel">
									<img src="__IMG__/image/20150723185048912fa.jpg" class="lazy" data-original="image/20150325140940eedc8.jpg" alt="电影人的执念" height="100px" width="180px">
									<div class="mask abs"></div>
									<div class="abs hide "></div>
								</div>
							</a>
							<a href="#">
								<h5 class="f-c3">电影人的执念</h5>
							</a>
						</div>
						<div class="g-cell1 g-card1">
							<a href="#" class="u-cover" target="_blank">
								<div class="shadow rel">
									<img src="__IMG__/image/6631341544094050082.jpg" class="lazy" data-original="image/20150325140940eedc8.jpg" alt="这次的我，不一样" height="100px" width="180px">
									<div class="mask abs"></div>
									<div class="abs hide "></div>
								</div>
							</a>
							<a href="#">
								<h5 class="f-c3">这次的我，不一样</h5>
							</a>
						</div>
						</div>
						
						</div>
						<div class="g-cell2">
					<a href="#" class="u-cover" target="_blank">
						<div class="shadow ohide rel">
							<img src="__IMG__/image/201409221639143fb2f.jpg" class="lazy" data-original="image/20150325101520beafc.png" alt="根本停不下来的设计师" height="275px" width="380px">
							<div class="mask abs"></div>
						</div>
					</a>
					<a href="#">
						<h5 class="f-c3">根本停不下来的设计师<span class="rec f-f1 ">根本停不下来的设计师</span></h5>
					</a>
				</div>
						<div class="g-cell1">
					
								<div class="g-card1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="__IMG__/image/20141010100342e6dae.jpg" class="lazy" data-original="" alt="减肥，我们的人生目标？" height="100px" width="180px">
								<div class="mask abs"></div>
								<div class="abs hide NEW">NEW</div>
							</div>
						</a>	
						<a href="#">
							<h5 class="f-c3">减肥，我们的人生目标？</h5>
						</a>
					</div>
				<div class="g-card1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="__IMG__/image/20140925192841157b4.png" class="lazy" data-original="image/2015021315520857c99.jpg" alt="这样的房子谁不想要”" height="100px" width="180px">
								<div class="mask abs"></div>
								<div class="abs hide NEW">NEW</div>
							</div>
						</a>	
						<a href="#">
							<h5 class="f-c3">这样的房子谁不想要</h5>
						</a>
					</div>
						</div>
						
						<div class="g-cell1 g-hide">
					
								<div class="g-card1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="__IMG__/image/20150325140726abc31.jpg" class="lazy" data-original="image/20150213154014a22ff.jpg" alt="漫漫自由路" height="100px" width="180px">
								<div class="mask abs"></div>
								<div class="abs hide NEW">NEW</div>
							</div>
						</a>	
						<a href="#">
							<h5 class="f-c3">漫漫自由路</h5>
						</a>
					</div>
					<div class="g-card1">
<a href="#" class="u-cover" target="_blank">
<div class="shadow rel">
<img src="__IMG__/image/2015032514045543f75.jpg" class="lazy" data-original="image/20150119175549c1f92.jpg" alt="我只想做一个安静的作家" height="100px" width="180px">
<div class="mask abs"></div>
<div class="abs hide "></div>
</div>
</a>	
<a href="#">
<h5 class="f-c3">我只想做一个安静的作家</h5>
</a>
</div>
</div>
			</div>	
	     </div>
	   </div>
	<!-- /包推荐 -->
	
	<!-- 专题、小编推荐、猜你喜欢 -->
	<div class="m-recommend">
		<div class="g-container rarea">
			<div class="g-row">
			
				<a href="#" target="_blank" title="查看全部">
					<div class="g-cell1 u-tag shadow1">
						<h2>公开课策划</h2>
						<p>共500门课程</p>
					</div>
				</a>
				<div class="g-cell3 shadow1">
					<div class="clearfix">
						
								<a href="#" class="u-cover" target="_blank">
							<div class="rel left">
								<img src="__IMG__/image/default.jpg" class="lazy" data-original="http://img1.cache.netease.com/video/2015/7/27/201507271814134293f.png" width="240px" height="120px" style="display:block">
								<div class="mask abs"></div>
							</div>
						</a>
								<div class="left m-special">
							<div class="wrp">
								
								<div class="s1">
									<a href="#" target="_blank" class="f-c3"><p class="nowrp tit f-f0">不瘦不罢休：出汗≠减脂 出汗≠运动效果</p></a>
									<p class="f-c9">这个世界上有些回报是有名额限制的，比如创业、升学、打比赛；但有些回报没有名额限制，比如健身。</p>
								</div>
										
								<a href="#" class="f-c3 s2 left nowrp" target="_blank">品读8位老师的支教故事</a>
				<a href="#" class="f-c3 s2 left nowrp" target="_blank">TED2015大会</a>
									</div>
						</div>
					</div>
				</div>
				<div class="m-special2 shadow1">
					<ul>
						
								<li><a href="#" class="li"><p class="nowrp f-c3"><span>网易公开课入围2015年WISE教育项目奖</span><span class="t2 g-ihide"></span></p></a></li>
				<li><a href="#" class="li"><p class="nowrp f-c3"><span>爱是光着脚的哲学</span><span class="t2 g-ihide">笔尖上的爱情智慧</span></p></a></li>
				<li><a href="#" class="li"><p class="nowrp f-c3"><span>美食公开课</span><span class="t2 g-ihide">专为吃货们打造的学习专区</span></p></a></li>
								<li><a href="#" class="li"><p class="nowrp f-c3"><span>iBA经济通识微专业</span><span class="t2 g-ihide">社会生活中必备的知识基础</span></p></a></li>
							</ul>
				</div>
			</div>
		</div>
		<!-- 小编推荐 -->
		<div class="g-container rarea">
			<div class="u-mtitle f-f0">
				<!-- 整屏切换按钮 -->				
				<!-- /整屏切换按钮 -->
				<h2 class="f-c3 f-fl">小编推荐</h2>
				<p class="f-fl clear">
				
								<a href="http://open.163.com/ted/" class="f-fl f-c6 f-f0 label">TED</a>
				<a href="#" class="f-fl f-c6 f-f0 label">中国大学MOOC</a>
				<a href="#" class="f-fl f-c6 f-f0 label">云课堂</a>
				<a href="#" class="f-fl f-c6 f-f0 label">牛津大学</a>
				<a href="#" class="f-fl f-c6 f-f0 label">哈佛大学</a>
				<a href="#" class="f-fl f-c6 f-f0 label">斯坦福大学</a>
				<a href="#" class="f-fl f-c6 f-f0 label">耶鲁大学</a>
						</p>
			</div>
			<!-- 切换容器 -->
			<div class="u-switch" id="j-xbtj-switch-container">
				<div class="g-row ">
					
					<div class="g-cell1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="__IMG__/image/20150728121416e66b1.jpg" alt="精美的竹制魔法屋" height="100px" width="180px">
								<div class="mask abs"></div>
							</div>
						</a>
						<a href="#">
							<h5 class="f-c3">精美的竹制魔法屋<span class="rec f-f1 hide"></span></h5>
						</a>
						<p class="f-c9">你们从未见过这样的建筑</p>
					</div>
				<div class="g-cell1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="__IMG__/image/20150728121204c4207.jpg" alt="性别的秘密" height="100px" width="180px">
								<div class="mask abs"></div>
							</div>
						</a>
						<a href="#">
							<h5 class="f-c3">性别的秘密<span class="rec f-f1 hide"></span></h5>
						</a>
						<p class="f-c9">男女生理性别和脑性别不同</p>
					</div>
				<div class="g-cell1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="__IMG__/image/201507231837470cf9a.jpg" alt="爱原来的样子" height="100px" width="180px">
								<div class="mask abs"></div>
							</div>
						</a>
						<a href="#">
							<h5 class="f-c3">爱原来的样子<span class="rec f-f1 hide"></span></h5>
						</a>
						<p class="f-c9">用摄影的方式探索爱的真谛</p>
					</div>
				<div class="g-cell1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="__IMG__/image/201507231836581f393.jpg" alt="我们为什么会笑？" height="100px" width="180px">
								<div class="mask abs"></div>
							</div>
						</a>
						<a href="#">
							<h5 class="f-c3">我们为什么会笑？<span class="rec f-f1 hide"></span></h5>
						</a>
						<p class="f-c9">关于笑的惊人事实</p>
					</div>
								<div class="g-cell1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="__IMG__/image/2015070810124689b05.jpg" alt="计算机专业体系课程" height="100px" width="180px">
								<div class="mask abs"></div>
							</div>
						</a>
						<a href="#">
							<h5 class="f-c3">计算机专业体系课程<span class="rec f-f1 hide"></span></h5>
						</a>
						<p class="f-c9">大学计算机专业到底学什么鬼？</p>
					</div>
				<div class="g-cell1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="__IMG__/image/2015070810113718147.png" alt="MySQL微专业" height="100px" width="180px">
								<div class="mask abs"></div>
							</div>
						</a>
						<a href="#">
							<h5 class="f-c3">MySQL微专业<span class="rec f-f1 hide"></span></h5>
						</a>
						<p class="f-c9">网易一线DBA倾力打造</p>
					</div>
								<div class="g-cell1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="__IMG__/image/201506050950000106d.jpg" alt="日本爱的产业" height="100px" width="180px">
								<div class="mask abs"></div>
							</div>
						</a>
						<a href="#">
							<h5 class="f-c3">日本爱的产业<span class="rec f-f1 hide"></span></h5>
						</a>
						<p class="f-c9">摄制组探访日本红灯区</p>
					</div>
				<div class="g-cell1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="__IMG__/image/20150428110754079cb.jpg" alt="不老的骑士" height="100px" width="180px">
								<div class="mask abs"></div>
							</div>
						</a>
						<a href="#">
							<h5 class="f-c3">不老的骑士<span class="rec f-f1 ">CNEX纪录片</span></h5>
						</a>
						<p class="f-c9">一群80岁老人骑行梦想</p>
					</div>
				<div class="g-cell1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="http://imgsize.ph.126.net/?enlarge=true&amp;imgurl=http://img4.cache.netease.com/cnews/2015/4/20/20150420135519db530.png_180x100x1x95.jpg" alt="不能再忽视气候变化问题了" height="100px" width="180px">
								<div class="mask abs"></div>
							</div>
						</a>
						<a href="#">
							<h5 class="f-c3">不能再忽视气候变化问题了<span class="rec f-f1 hide"></span></h5>
						</a>
						<p class="f-c9">奥巴马每周演讲</p>
					</div>
				<div class="g-cell1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="http://imgsize.ph.126.net/?enlarge=true&amp;imgurl=http://img0.ph.126.net/r9gUwI46lWfvjlcGhGhZJQ==/6619127069421873297.jpg_180x100x1x95.jpg" alt="非凡的女性领导" height="100px" width="180px">
								<div class="mask abs"></div>
							</div>
						</a>
						<a href="#">
							<h5 class="f-c3">非凡的女性领导<span class="rec f-f1 hide"></span></h5>
						</a>
						<p class="f-c9">成功女性的动力与坚持来自何处？</p>
					</div>
				<div class="g-cell1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="http://imgsize.ph.126.net/?enlarge=true&amp;imgurl=http://img4.cache.netease.com/video/2015/3/26/20150326155329ac55d.jpg_180x100x1x95.jpg" alt="巴黎私厨" height="100px" width="180px">
								<div class="mask abs"></div>
							</div>
						</a>
						<a href="#">
							<h5 class="f-c3">巴黎私厨<span class="rec f-f1 ">BBC</span></h5>
						</a>
						<p class="f-c9">如何做焦香四溢的奶酪土豆碗</p>
					</div>
				<div class="g-cell1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="http://imgsize.ph.126.net/?enlarge=true&amp;imgurl=http://img3.cache.netease.com/cnews/2015/3/31/201503311121386d854.png_180x100x1x95.jpg" alt="TEDTalks精选集" height="100px" width="180px">
								<div class="mask abs"></div>
							</div>
						</a>
						<a href="#">
							<h5 class="f-c3">TEDTalks精选集<span class="rec f-f1 ">珍藏版</span></h5>
						</a>
						<p class="f-c9">8分钟看完2014年所有的TED</p>
					</div>
				<div class="g-cell1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="http://imgsize.ph.126.net/?enlarge=true&amp;imgurl=http://img3.cache.netease.com/cnews/2015/3/25/20150325120554d2fa7.jpg_180x100x1x95.jpg" alt="空中浩劫" height="100px" width="180px">
								<div class="mask abs"></div>
							</div>
						</a>
						<a href="#">
							<h5 class="f-c3">空中浩劫<span class="rec f-f1 ">纪录片</span></h5>
						</a>
						<p class="f-c9">探讨震惊世界的空难</p>
					</div>
				<div class="g-cell1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="http://imgsize.ph.126.net/?enlarge=true&amp;imgurl=http://img0.ph.126.net/hKMSAgS16P58G1sHpbpN3A==/6619412942445049722.jpg_180x100x1x95.jpg" alt="休假的高产值" height="100px" width="180px">
								<div class="mask abs"></div>
							</div>
						</a>
						<a href="#">
							<h5 class="f-c3">休假的高产值<span class="rec f-f1 hide"></span></h5>
						</a>
						<p class="f-c9">让员工放假来提高其生产力</p>
					</div>
				<div class="g-cell1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="http://imgsize.ph.126.net/?enlarge=true&amp;imgurl=http://img2.ph.126.net/SfMEJ4sC-HOn5HHX3JbfYA==/6630607070326847084.jpg_180x100x1x95.jpg" alt="被分隔的中国双胞胎" height="100px" width="180px">
								<div class="mask abs"></div>
							</div>
						</a>
						<a href="#">
							<h5 class="f-c3">被分隔的中国双胞胎<span class="rec f-f1 ">BBC</span></h5>
						</a>
						<p class="f-c9">分别被美国家庭和挪威家庭领养</p>
					</div>
				<div class="g-cell1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="http://imgsize.ph.126.net/?enlarge=true&amp;imgurl=http://img1.cache.netease.com/cnews/2015/3/23/20150323143012a5aed.png_180x100x1x95.jpg" alt="婴儿的天才语言能力" height="100px" width="180px">
								<div class="mask abs"></div>
							</div>
						</a>
						<a href="#">
							<h5 class="f-c3">婴儿的天才语言能力<span class="rec f-f1 ">TED</span></h5>
						</a>
						<p class="f-c9">婴儿学习不同语言的惊人发现</p>
					</div>
				<div class="g-cell1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="http://imgsize.ph.126.net/?enlarge=true&amp;imgurl=http://img4.cache.netease.com/cnews/2015/3/23/201503231417207ae47.png_180x100x1x95.jpg" alt="iOS 8开发" height="100px" width="180px">
								<div class="mask abs"></div>
							</div>
						</a>
						<a href="#">
							<h5 class="f-c3">iOS 8开发<span class="rec f-f1 ">更新至第4集</span></h5>
						</a>
						<p class="f-c9">斯坦福大学最受欢迎课程</p>
					</div>
				<div class="g-cell1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="http://imgsize.ph.126.net/?enlarge=true&amp;imgurl=http://img1.ph.126.net/RtCM9P0UJU3irtGCbGjmqg==/6630788489745332197.jpg_180x100x1x95.jpg" alt="妈妈的村庄" height="100px" width="180px">
								<div class="mask abs"></div>
							</div>
						</a>
						<a href="#">
							<h5 class="f-c3">妈妈的村庄<span class="rec f-f1 ">CNEX纪录片</span></h5>
						</a>
						<p class="f-c9">计划生育在中国农村执行的悲剧</p>
					</div>
				<div class="g-cell1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="http://imgsize.ph.126.net/?enlarge=true&amp;imgurl=http://img3.cache.netease.com/cnews/2015/3/17/2015031711431765120.jpg_180x100x1x95.jpg" alt="世界上最无聊的电视节目" height="100px" width="180px">
								<div class="mask abs"></div>
							</div>
						</a>
						<a href="#">
							<h5 class="f-c3">世界上最无聊的电视节目<span class="rec f-f1 hide"></span></h5>
						</a>
						<p class="f-c9">为什么却让人迷得无可救药</p>
					</div>
				<div class="g-cell1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="http://imgsize.ph.126.net/?enlarge=true&amp;imgurl=http://img1.ph.126.net/t-tpwJZ4gUG-DZpyRBFnAw==/6630200251024354054.jpg_180x100x1x95.jpg" alt="如何变废为宝" height="100px" width="180px">
								<div class="mask abs"></div>
							</div>
						</a>
						<a href="#">
							<h5 class="f-c3">如何变废为宝<span class="rec f-f1 ">环保宣传片</span></h5>
						</a>
						<p class="f-c9">2012年绿色电影奖获奖影片</p>
					</div>
				<div class="g-cell1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="http://imgsize.ph.126.net/?enlarge=true&amp;imgurl=http://img5.cache.netease.com/cnews/2015/2/14/20150214114429fee19.png_180x100x1x95.jpg" alt="成功心理学" height="100px" width="180px">
								<div class="mask abs"></div>
							</div>
						</a>
						<a href="#">
							<h5 class="f-c3">成功心理学<span class="rec f-f1 hide"></span></h5>
						</a>
						<p class="f-c9">激励我们重新思考成功的定义</p>
					</div>
				<div class="g-cell1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="http://imgsize.ph.126.net/?enlarge=true&amp;imgurl=http://img5.cache.netease.com/cnews/2014/11/11/20141111151415a5b1e.jpg_180x100x1x95.jpg" alt="柴静：看见" height="100px" width="180px">
								<div class="mask abs"></div>
							</div>
						</a>
						<a href="#">
							<h5 class="f-c3">柴静：看见<span class="rec f-f1 ">精彩演讲</span></h5>
						</a>
						<p class="f-c9">分享她十年间的记者经历</p>
					</div>
				<div class="g-cell1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="http://imgsize.ph.126.net/?enlarge=true&amp;imgurl=http://img2.cache.netease.com/cnews/2014/3/25/20140325154325ceec9.png_180x100x1x95.jpg" alt="做爱不是色情" height="100px" width="180px">
								<div class="mask abs"></div>
							</div>
						</a>
						<a href="#">
							<h5 class="f-c3">做爱不是色情<span class="rec f-f1 ">科普</span></h5>
						</a>
						<p class="f-c9">如何改变色情行业？</p>
					</div>
				<div class="g-cell1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="http://imgsize.ph.126.net/?enlarge=true&amp;imgurl=http://img6.cache.netease.com/cnews/2015/3/5/2015030513524997488.png_180x100x1x95.jpg" alt="耶鲁大学：博弈论" height="100px" width="180px">
								<div class="mask abs"></div>
							</div>
						</a>
						<a href="#">
							<h5 class="f-c3">耶鲁大学：博弈论<span class="rec f-f1 hide"></span></h5>
						</a>
						<p class="f-c9">2015年一定要学习的课程</p>
					</div>
				<div class="g-cell1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="http://imgsize.ph.126.net/?enlarge=true&amp;imgurl=http://img3.cache.netease.com/cnews/2015/2/28/20150228153907cae08.png_180x100x1x95.jpg" alt="经济学的基本思维方式" height="100px" width="180px">
								<div class="mask abs"></div>
							</div>
						</a>
						<a href="#">
							<h5 class="f-c3">经济学的基本思维方式<span class="rec f-f1 hide"></span></h5>
						</a>
						<p class="f-c9">IBA：经济通识</p>
					</div>
				<div class="g-cell1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="http://imgsize.ph.126.net/?enlarge=true&amp;imgurl=http://img0.ph.126.net/0c2ToUXTfAISIyMifqpKFA==/6630590577652093002.jpg_180x100x1x95.jpg" alt="超级城市巡礼" height="100px" width="180px">
								<div class="mask abs"></div>
							</div>
						</a>
						<a href="#">
							<h5 class="f-c3">超级城市巡礼<span class="rec f-f1 hide"></span></h5>
						</a>
						<p class="f-c9">足不出户检视现代大都会</p>
					</div>
				<div class="g-cell1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="http://imgsize.ph.126.net/?enlarge=true&amp;imgurl=http://img3.cache.netease.com/cnews/2015/2/14/201502141157401b17a.png_180x100x1x95.jpg" alt="游戏的力量" height="100px" width="180px">
								<div class="mask abs"></div>
							</div>
						</a>
						<a href="#">
							<h5 class="f-c3">游戏的力量<span class="rec f-f1 hide"></span></h5>
						</a>
						<p class="f-c9">让玩家在虚拟空间充当救世主</p>
					</div>
				<div class="g-cell1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="http://imgsize.ph.126.net/?enlarge=true&amp;imgurl=http://img5.cache.netease.com/cnews/2014/12/12/20141212141412b1b79.png_180x100x1x95.jpg" alt="《幸福课》" height="100px" width="180px">
								<div class="mask abs"></div>
							</div>
						</a>
						<a href="#">
							<h5 class="f-c3">《幸福课》<span class="rec f-f1 ">年度最受欢迎课程</span></h5>
						</a>
						<p class="f-c9">学习如何找到你的幸福</p>
					</div>
				<div class="g-cell1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="http://imgsize.ph.126.net/?enlarge=true&amp;imgurl=http://img3.cache.netease.com/cnews/2015/1/27/2015012717141519179.png_180x100x1x95.jpg" alt="艺术的力量之梵高" height="100px" width="180px">
								<div class="mask abs"></div>
							</div>
						</a>
						<a href="#">
							<h5 class="f-c3">艺术的力量之梵高<span class="rec f-f1 hide"></span></h5>
						</a>
						<p class="f-c9">BBC纪录片重现大师的创作历程</p>
					</div>
				<div class="g-cell1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="http://imgsize.ph.126.net/?enlarge=true&amp;imgurl=http://img4.cache.netease.com/cnews/2015/1/19/201501191517068fd12.png_180x100x1x95.jpg" alt="一定要睡个好觉" height="100px" width="180px">
								<div class="mask abs"></div>
							</div>
						</a>
						<a href="#">
							<h5 class="f-c3">一定要睡个好觉<span class="rec f-f1 ">很重要</span></h5>
						</a>
						<p class="f-c9">通过睡眠可以清除大脑中的废物</p>
					</div>
						</div>
			</div>
		</div>
		
	</div>
	<!-- /专题、小编推荐、猜你喜欢 -->
	
	<!-- TED -->
	<div class="m-cate">
		<div class="g-container">
			<div class="g-row">
				<div class="g-cell2 f-pr">
					<!-- ad -->
					<div class="f-pa" style="top:-50px;left:0;height:50px;width:100%;">
						<!--包框广告-->
					</div>
					<!-- /ad -->
					
					<div class="m-ted shadow" onclick="javascript:window.open('http://open.163.com/ted/','_blank');" title="查看全部">
						<h2>TED<span class="lk" id="j-ted">共500门课程</span></h2>
						<ul class="clear">
							
								<li class="left blok nowrp"><a class="link f-f0 nowrp j-recstop" href="#">信息</a></li>
				<li class="left blok nowrp"><a class="link f-f0 nowrp j-recstop" href="#">幽默</a></li>
				<li class="left blok nowrp"><a class="link f-f0 nowrp j-recstop" href="#">美丽</a></li>
				<li class="left blok nowrp"><a class="link f-f0 nowrp j-recstop" href="#">鼓舞</a></li>
				<li class="left blok nowrp"><a class="link f-f0 nowrp j-recstop" href="#">迷人</a></li>
				<li class="left blok nowrp"><a class="link f-f0 nowrp j-recstop" href="#">惊讶</a></li>
				<li class="left blok nowrp"><a class="link f-f0 nowrp j-recstop" href="#">说服</a></li>
				<li class="left blok nowrp"><a class="link f-f0 nowrp j-recstop" href="#">勇敢</a></li>
				<li class="left blok nowrp"><a class="link f-f0 nowrp j-recstop" href="#">创意</a></li>
								</ul>
					</div>
					<div class="g-row">
						
								<div class="g-cell1 g-card1">
							<a href="#" class="u-cover" target="_blank">
								<div class="shadow rel">
									<img src="__IMG__/image/default.jpg" class="lazy" data-original="image/20150325140940eedc8.jpg" alt="莱温斯基：羞辱的代价" height="100px" width="180px">
									<div class="mask abs"></div>
									<div class="abs hide "></div>
								</div>
							</a>
							<a href="#">
								<h5 class="f-c3">莱温斯基：羞辱的代价</h5>
							</a>
						</div>
				<div class="g-cell1 g-card1">
							<a href="#" class="u-cover" target="_blank">
								<div class="shadow rel">
									<img src="__IMG__/image/default.jpg" class="lazy" data-original="image/20150213161953f3425.jpg" alt="蚂蚁给人类的启发" height="100px" width="180px">
									<div class="mask abs"></div>
									<div class="abs hide NEW">NEW</div>
								</div>
							</a>
							<a href="#">
								<h5 class="f-c3">蚂蚁给人类的启发</h5>
							</a>
						</div>
							</div>
				</div>
				
								<div class="g-cell2">
					<a href="#" class="u-cover" target="_blank">
						<div class="shadow ohide rel">
							<img src="__IMG__/image/default.jpg" class="lazy" data-original="image/20150325101520beafc.png" alt="被囚禁的317天" height="275px" width="380px">
							<div class="mask abs"></div>
						</div>
					</a>
					<a href="#">
						<h5 class="f-c3">被囚禁的317天<span class="rec f-f1 ">联合国难民署员工亲述被劫持经历</span></h5>
					</a>
				</div>
						<div class="g-cell1">
					
								<div class="g-card1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="__IMG__/image/default.jpg" class="lazy" data-original="" alt="银行是怎样掏空的" height="100px" width="180px">
								<div class="mask abs"></div>
								<div class="abs hide NEW">NEW</div>
							</div>
						</a>	
						<a href="#">
							<h5 class="f-c3">银行是怎样掏空的</h5>
						</a>
					</div>
				<div class="g-card1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="__IMG__/image/default.jpg" class="lazy" data-original="image/2015021315520857c99.jpg" alt="坦然面对“差一点点就成功了”" height="100px" width="180px">
								<div class="mask abs"></div>
								<div class="abs hide NEW">NEW</div>
							</div>
						</a>	
						<a href="#">
							<h5 class="f-c3">坦然面对“差一点点就成功了”</h5>
						</a>
					</div>
						</div>
				<div class="g-cell1 g-hide">
					
								<div class="g-card1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="__IMG__/image/default.jpg" class="lazy" data-original="image/20150213154014a22ff.jpg" alt="两种书呆子气的痴迷相遇" height="100px" width="180px">
								<div class="mask abs"></div>
								<div class="abs hide NEW">NEW</div>
							</div>
						</a>	
						<a href="#">
							<h5 class="f-c3">两种书呆子气的痴迷相遇</h5>
						</a>
					</div>
							<!-- ad -->
					<!--无广告读栏目-->
<div class="g-card1">
<a href="#" class="u-cover" target="_blank">
<div class="shadow rel">
<img src="__IMG__/image/default.jpg" class="lazy" data-original="image/20150119175549c1f92.jpg" alt="国安局TED回应斯诺登" height="100px" width="180px">
<div class="mask abs"></div>
<div class="abs hide "></div>
</div>
</a>	
<a href="#">
<h5 class="f-c3">国安局TED回应斯诺登</h5>
</a>
</div>

				</div>
			</div>
		</div>	
	</div>
	<!-- /TED -->
	<!-- 演讲 -->
	<div class="m-cate m-cate1">
		<div class="g-container">
			<div class="g-row">
				<div class="g-cell2">
					<div class="m-yanj shadow" onclick="javascript:window.open('http://c.open.163.com/search/search.htm?query=%E6%BC%94%E8%AE%B2&enc=%E2%84%A2#/search/all','_blank');" title="查看全部">
						<h2>演讲<span class="lk" id="j-yanj">共0门课程</span></h2>
						<ul class="clear">
							
								<li class="left blok nowrp"><a class="link f-f0 nowrp j-recstop" href="#">毕业演讲</a></li>
				<li class="left blok nowrp"><a class="link f-f0 nowrp j-recstop" href="#">CC讲坛</a></li>
				<li class="left blok nowrp"><a class="link f-f0 nowrp j-recstop" href="#">扎克伯格</a></li>
				<li class="left blok nowrp"><a class="link f-f0 nowrp j-recstop" href="#">桑德伯格</a></li>
				<li class="left blok nowrp"><a class="link f-f0 nowrp j-recstop" href="#">乔布斯</a></li>
				<li class="left blok nowrp"><a class="link f-f0 nowrp j-recstop" href="#">奥巴马</a></li>
								</ul>
					</div>
					<div class="g-row">
						
								<div class="g-cell1 g-card1">
							<a href="#" class="u-cover" target="_blank">
								<div class="shadow rel">
									<img src="__IMG__/image/default.jpg" class="lazy" data-original="http://imgsize.ph.126.net/?enlarge=true&amp;imgurl=http://img5.cache.netease.com/cnews/2015/4/22/201504221618421bace.jpg_180x100x1x95.jpg" alt="态度公开课" height="100px" width="180px">
									<div class="mask abs"></div>
									<div class="sub abs">做品牌，先要做好产品</div>
									<div class="abs hide "></div>
								</div>
							</a>
							<a href="#">
								<h5 class="f-c3">态度公开课</h5>
							</a>
							<p class="f-c9"></p>
						</div>
				<div class="g-cell1 g-card1">
							<a href="#" class="u-cover" target="_blank">
								<div class="shadow rel">
									<img src="__IMG__/image/default.jpg" class="lazy" data-original="http://imgsize.ph.126.net/?enlarge=true&amp;imgurl=http://img5.cache.netease.com/cnews/2015/3/25/20150325142622273ed.jpg_180x100x1x95.jpg" alt="阎连科“方所”演讲" height="100px" width="180px">
									<div class="mask abs"></div>
									<div class="sub abs">行走在没有光的胡同里</div>
									<div class="abs hide "></div>
								</div>
							</a>
							<a href="#">
								<h5 class="f-c3">阎连科“方所”演讲</h5>
							</a>
							<p class="f-c9"></p>
						</div>
							</div>
				</div>
				
								<div class="g-cell2">
					<a href="#" class="u-cover" target="_blank">
						<div class="shadow ohide rel">
							<img src="__IMG__/image/default.jpg" class="lazy" data-original="http://imgsize.ph.126.net/?enlarge=true&amp;imgurl=http://img3.cache.netease.com/cnews/2015/3/25/20150325142345aac6b.jpg_380x275x1x95.jpg" alt="贾樟柯：天注定——《线描中国》" height="275px" width="380px">
							<div class="mask abs"></div>
						</div>
					</a>
					<a href="#">
						<h5 class="f-c3">贾樟柯：天注定——《线描中国》<span class="rec f-f1 ">城市化进程中的中国人</span></h5>
					</a>
				</div>
						<div class="g-cell1">
					
								<div class="g-card1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="__IMG__/image/default.jpg" class="lazy" data-original="http://imgsize.ph.126.net/?enlarge=true&amp;imgurl=http://img6.cache.netease.com/cnews/2015/4/22/20150422162357304ac.jpg_180x100x1x95.jpg" alt="麦当劳（中国）首席市场官须聪分享营销经" height="100px" width="180px">
								<div class="mask abs"></div>
								<div class="abs hide "></div>
							</div>
						</a>	
						<a href="#">
							<h5 class="f-c3">麦当劳（中国）首席市场官须聪分享营销经</h5>
						</a>
					</div>
				<div class="g-card1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="__IMG__/image/default.jpg" class="lazy" data-original="http://imgsize.ph.126.net/?enlarge=true&amp;imgurl=http://img3.cache.netease.com/cnews/2015/3/25/20150325142932e0729.jpg_180x100x1x95.jpg" alt="奥巴马宣布签署学生援助权利法案" height="100px" width="180px">
								<div class="mask abs"></div>
								<div class="abs hide "></div>
							</div>
						</a>	
						<a href="#">
							<h5 class="f-c3">奥巴马宣布签署学生援助权利法案</h5>
						</a>
					</div>
						</div>
				<div class="g-cell1 g-hide">
					
								<div class="g-card1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="__IMG__/image/default.jpg" class="lazy" data-original="http://imgsize.ph.126.net/?enlarge=true&amp;imgurl=http://img6.cache.netease.com/cnews/2015/1/29/2015012911133151802.jpg_180x100x1x95.jpg" alt="艾玛·沃特森达沃斯世界经济论坛为女性发声" height="100px" width="180px">
								<div class="mask abs"></div>
								<div class="abs hide "></div>
							</div>
						</a>	
						<a href="#">
							<h5 class="f-c3">艾玛·沃特森达沃斯世界经济论坛为女性发声</h5>
						</a>
					</div>
				<div class="g-card1">
						<a href="#" class="u-cover" target="_blank">
							<div class="shadow rel">
								<img src="__IMG__/image/default.jpg" class="lazy" data-original="http://imgsize.ph.126.net/?enlarge=true&amp;imgurl=http://img3.cache.netease.com/cnews/2015/1/23/201501231635489ada0.jpg_180x100x1x95.jpg" alt="杨振宁、莫言：科学与文学的对话" height="100px" width="180px">
								<div class="mask abs"></div>
								<div class="abs hide "></div>
							</div>
						</a>	
						<a href="#">
							<h5 class="f-c3">杨振宁、莫言：科学与文学的对话</h5>
						</a>
					</div>
						</div>
			</div>
		</div>	
	</div>

</block>