<extend name="Public/base" />
<block name="header">
<link rel="stylesheet" href="__CSS__/style1.css"/>
<link rel="stylesheet" href="__CSS__/index1.css"/>
<link rel="stylesheet" href="__CSS__/public.css"/>
</block>
<block name="body">
<body>
<style type="text/css">
.in-left{
	border: 1px solid #f0f0f0;
    height: 141px;
    overflow: hidden;
    width: 250px;
	float:left;
	margin-top:10px;
}
.in-left img{
	width:250px;
	height:141px;
}
.in-right{
    height: 141px;
    overflow: hidden;
	float:left;
	margin-left:20px;
	margin-top:10px;
	width:560px;
}
.in-right h2{
    font-size:16px;
	line-height:30px;
	color:#333;
	font-weight:700;
}
.in-right p{
    font-size:14px;
	line-height:28px;
	color:#666;
}
.in-right span{
    font-size:12px;
	line-height:28px;
	color:#666;
}
.list h2{
	font-size:18px;
	font-weight:700;
}
</style>
<div class="warp">
<div class="warp-left">
<div class="ad67">
{:Advs('67')}

</div>
<div class="xuline"></div>
<article catid="48" num='10' order="id desc">
<volist name="data" id="vo">
<div class="list">
<h2><a href="{:U("Article/show/id/$vo[id]")}">{$vo.title}</a>
</div>
<div class="in-left">
<a href="{:U("Article/show/id/$vo[id]")}">
<img src="{:articlepic($vo['thumb'])}"/>
</a>
</div>
<div class="in-right">
<div style="height:110px;"> 
<p>{$vo.description}</p>
</div>
<span>发布者：{:article_add_user($vo['uid'],$vo['addtype'])}</span>
<span>发布时间：{$vo.updatetime|date="Y-m-d",###}</span>
<span style="float:right;">
<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a><a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a><a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a><a title="分享到人人网" href="#" class="bds_renren" data-cmd="renren"></a><a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
</span>
</div>

<div class="xuline"></div>
</volist>
<div class="page_navi">{$pages}</div>
</article>
</div>

<div class="warp-right">
<include file="Article/sidebar"/>
</div>
<div class="clear"></div>
</div>
</block>