<extend name="Public/base" />
<block name="header">
<link rel="stylesheet" href="__CSS__/public.css"/>
</block>
<block name="body">
<style type="text/css">
.weibu{
width:840px;
}
.left{
float:left; 
width:100px;
}
.right{
float:left;
width:700px
}
</style>
<div class="warp">
<div class="warp-left">
<div class="neirong">
<i class="iconfont">&#xea74;</i>首页 / 行业招聘 /
<div id='content'>
<div class="">
<h2><a href="#">工程部总监</a></h2>
</div>

<div class="xuline"></div>
<div  class='weibu'>
<div class='left'>
<h2><a href="#">招聘公司</a></h2>
</div>
<div class='right'>

    公司名称：北京力宝北方投资有限公司<br/>
    所属行业： 房地产/建筑/建材/工程 ＋ 金融/银行/投资/基金/证券/期货,贸易/进出...<br/>
    公司性质：民营<br/>
    公司规模：100-499人<br/>
    公司地址： 三里屯<br/>
</div>
<div class="xuline"></div>
</div>
<div  class='weibu'>
<div class='left'>
<h2><a href="#">基本信息</a></h2>
</div>
<div class='right'>

   

    职位类别：房地产开发/中介-房地...<br/>
    所属部门：北京力宝北方投资...<br/>
    工作地点：云南-昆明,云南-大理...<br/>
    发布时间： 2015-08-05<br/>

    汇报对象：总经理<br/>
    下属人数：8人<br/>
    招聘人数：1人<br/>

</div>
<div class="xuline"></div>
</div>
<div class='weibu'>
<div class='left'>
<h2><a href="#">薪酬信息</a></h2>
</div>
<div class='right'>
    年薪范围：50-60万<br/>
    薪资构成：基本工资<br/>
    社保福利：国家标准<br/>
    年假福利：国家标准<br/>
</div>
<div class="xuline"></div>
</div>
<div class='weibu'>
<div class='left'>
<h2><a href="#">职位描述</a></h2>
</div>
<div class='right'>
    
岗位职责：

1．参与项目前期规划方案论证，单体初步设计，施工图设计会签；参与大小市政协调会，施工图交接 

2．根据开发项目工程施工组织总设计要求，配置内部资源（配置各相关专业：规划，建筑，市政等） 

3．配合规划部进行大小市政工程的报装工作，并负责建安和市政工程的报建和报开工作，组织有关人员办理开工证 

4．办理相关证件/手续（开工证，工程前期的全部报装，报批，审核手续及后期工程的报竣，验收，开建手续） 

5.组织和协调好施工单位，监理单位，设计单位，规划单位的外部工作关系

6.组织和协调分公司与规划部，工程部，销售部内部工作关系 

7.协调有关部门解决施工现场的技术变更或技术疑难问题 

8.协助集团工程部组织好工程质量检查/验收工作

9.负责内部工程质量监督，检查

10.做好对政府部门，专业公司的业务公关，协调好与规划院，设计院，施工单位，监理单位之间的合作关系 

11.完成公司总经理交办的其他工作
任职资格：

10 年以上工作经验

土木工程 建筑设计相关专业

有大型房地产公司工作经验

高端项目盘工作经验

</div>
<div class="xuline"></div>
</div>




</div>
</div>
</div>
<div class="warp-right">
<include file="Article/sidebar"/>
</div>
<div class="clear"></div>
</div>

</block>
